@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spinnaker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --background-image-layersDark: url("./assets/layersDark.svg");
  --background-image-layers: url("./assets/layers.svg");

  --animate-wiggle: wiggle 2s ease-in-out infinite;
  --animate-fadePulse: fadePulse 2s ease-in-out infinite;

  --breakpoint-xs: 20rem;

  --font-spinnaker: "Spinnaker", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-grotesk: "Space Grotesk", sans-serif;

  /* Fade animation */
  @keyframes fadePulse {
    0% {
      transform: scale(1);
      opacity: 1; /* Start invisible */
    }
    50% {
      transform: scale(1.2); /* Scale up slightly */
      opacity: 0.5; /* End fully visible */
    }
    100% {
      transform: scale(1);
      opacity: 1; /* End fully visible */
    }
  }

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-30deg);
    }
    50% {
      transform: rotate(30deg);
    }
  }
  --animate-direction: direction 2s ease-in-out infinite;
  @keyframes direction {
    0% {
      transform: translateY(0) scale(1);
    }
    100% {
      transform: translateY(5px) scale(1, 1);
    }
  }
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .leaflet-touch .leaflet-control-layers-toggle {
    @apply size-9 bg-layers dark:bg-layersDark bg-secondary! text-secondary-foreground!;
  }

  .leaflet-popup-tip {
    @apply bg-popover;
  }

  .leaflet-popup-tip-container {
    @apply w-10 h-5 absolute left-1/2 -bottom-5 top-auto overflow-hidden mt-20;
  }
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.004 285.824);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.004 285.824);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.004 285.824);
  --primary: oklch(72.143% 0.18083 42.17);
  --primary-foreground: oklch(1 0 0);
  --berlin: oklch(84.45% 0.17257 91.01);
  --berlin-foreground: oklch(0.141 0.004 285.824);
  --location: oklch(84.45% 0.17257 91.01);
  --secondary: oklch(0.968 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.884);
  --muted: oklch(0.968 0.001 286.375);
  --muted-foreground: oklch(0.552 0.014 285.942);
  --accent: oklch(0.968 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.884);
  --destructive: oklch(57.957% 0.23414 28.876);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.721 0.181 42.014);
  --chart-1: oklch(0.721 0.181 42.014);
  --chart-2: oklch(0.73 0.134 221.582);
  --chart-3: oklch(0.725 0.147 282.836);
  --chart-4: oklch(0.725 0.204 132.954);
  --chart-5: oklch(0.723 0.203 312.397);
  --sidebar-background: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.37 0.012 285.801);
  --sidebar-primary: oklch(0.21 0.006 285.884);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.968 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.884);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.623 0.188 259.796);
  --radius: 0.5rem;
}

.dark {
  --background: oklch(0.141 0.004 285.824);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.141 0.004 285.824);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.141 0.004 285.824);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.645 0.193 42.441);
  --primary-foreground: oklch(0.985 0 0);
  --berlin: oklch(84.45% 0.17257 91.01);
  --berlin-foreground: oklch(0.141 0.004 285.824);
  --location: oklch(84.45% 0.17257 91.01);
  --secondary: oklch(0.274 0.005 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.005 286.033);
  --muted-foreground: oklch(0.712 0.013 286.068);
  --accent: oklch(0.274 0.005 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.646 0.24 27.819);
  --border: oklch(0.274 0.005 286.033);
  --input: oklch(0.274 0.005 286.033);
  --ring: oklch(0.645 0.193 42.441);
  --chart-1: oklch(0.645 0.193 42.441);
  --chart-2: oklch(0.652 0.12 221.321);
  --chart-3: oklch(0.646 0.195 282.456);
  --chart-4: oklch(0.647 0.182 132.783);
  --chart-5: oklch(0.644 0.269 312.339);
  --sidebar-background: oklch(0.21 0.006 285.884);
  --sidebar-foreground: oklch(0.968 0.001 286.375);
  --sidebar-primary: oklch(0.488 0.217 264.388);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.274 0.005 286.033);
  --sidebar-accent-foreground: oklch(0.968 0.001 286.375);
  --sidebar-border: oklch(0.274 0.005 286.033);
  --sidebar-ring: oklch(0.623 0.188 259.796);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-berlin: var(--berlin);
  --color-berlin-foreground: var(--berlin-foreground);
  --color-location: var(--location);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .leaflet-container {
    @apply bg-card! font-[inherit]!;
  }
  .leaflet-container a {
    @apply text-inherit!;
  }
  .leaflet-div-icon {
    @apply border-none! bg-transparent!;
  }
  .leaflet-popup-content-wrapper,
  .leaflet-popup-content,
  .leaflet-popup-content p {
    @apply [all:unset]!;
  }
  .leaflet-popup {
    @apply animate-none!;
  }
  .leaflet-popup-close-button {
    @apply ring-offset-background focus:ring-ring bg-secondary rounded-xs opacity-70 transition-opacity hover:opacity-100 focus:ring-2 focus:outline-hidden;
    @apply ring-offset-background focus:ring-ring bg-secondary rounded-xs opacity-70 transition-opacity hover:opacity-100 focus:ring-2 focus:outline-hidden;
    @apply ring-offset-background focus:ring-ring bg-secondary rounded-xs opacity-70 transition-opacity hover:opacity-100 focus:ring-2 focus:outline-hidden;
    @apply ring-offset-background focus:ring-ring bg-secondary rounded-xs opacity-70 transition-opacity hover:opacity-100 focus:ring-2 focus:outline-hidden;
  }
  .leaflet-tooltip,
  .leaflet-draw-tooltip {
    @apply bg-foreground! text-background! animate-none! rounded-md! border-none! p-0! px-3! py-1.5! shadow-none!;
  }
  .leaflet-draw-tooltip:before {
    @apply bg-foreground top-1/2! right-0.5! size-2.5 translate-x-1/2 -translate-y-1/2 rotate-45 rounded-[2px] border-none!;
  }
  .leaflet-error-draw-tooltip {
    @apply bg-destructive! text-white!;
  }
  .leaflet-error-draw-tooltip:before {
    @apply bg-destructive;
  }
  .leaflet-draw-tooltip-subtext {
    @apply text-background!;
  }
  .leaflet-tooltip-right:before {
    @apply hidden;
  }
  .leaflet-control-attribution {
    @apply bg-muted! rounded-md px-1! py-0.5! text-[10px] leading-none! text-inherit!;
  }
  .leaflet-draw-guide-dash {
    @apply rounded-full;
  }
  .leaflet-edit-marker-selected {
    @apply border-transparent! bg-transparent!;
  }
  .leaflet-touch .leaflet-control-layers {
    @apply bg-transparent border-0;
  }
}

.leaflet-left .leaflet-control {
  @apply bg-background! text-muted-foreground! border-0! m-4!
   rounded-md;
}

/* .newPopup .leaflet-popup-content-wrapper,
.newPopup .leaflet-popup-tip {
  @apply bg-background text-muted-foreground;
} */

/* Routing Machine CSS */
.leaflet-routing-container {
  @apply bg-transparent! text-muted-foreground! border-0! p-0!;
}
.leaflet-routing-collapse-btn::after {
  @apply text-foreground;
}
.leaflet-routing-alt {
  @apply bg-muted/60! text-muted-foreground!;
}
.leaflet-routing-icon {
  @apply dark:bg-muted-foreground  mr-1!;
}
